version: "3.9"

services:
  app:
    build: .
    restart: always
    command: "/scripts/docker/starter.sh"
    env_file:
      - ./.env
    expose:
      - 8000
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles
    depends_on:
      - redis

  redis:
    image: redis:7

  celery:
    build: .
    restart: always
    command: celery -A config worker -l info
    volumes:
      - .:/code
    env_file:
      - ./.env
    depends_on:
      - redis
      - app

  nginx:
    build: ./nginx
    restart: always
    ports:
      - ${NGINX_PORT}:80
      - "443:443"
    volumes:
      - static_volume:/code/staticfiles
      - media_volume:/code/mediafiles
      # - ./ssl:/etc/nginx/ssl:ro
      - certbot-web:/vol/www
      - proxy-dhparams:/vol/proxy
      - certbot-certs:/etc/letsencrypt
    depends_on:
      - app
    environment:
      - DOMAIN=${DOMAIN}

  certbot:
    build:
      context: ./docker/certbot
    command: echo "Skipping..."
    environment:
      - EMAIL=${ACME_DEFAULT_EMAIL}
      - DOMAIN=${DOMAIN}
    volumes:
      - certbot-web:/vol/www
      - certbot-certs:/etc/letsencrypt/
    depends_on:
      - nginx

volumes:
  static_volume:
  media_volume:
  certbot-web:
  proxy-dhparams:
  certbot-certs: