asgiref==3.8.1
celery==5.4.0
Django==5.1
django-cors-headers==4.4.0
djangorestframework==3.15.2
dj-rest-auth==6.0.0
django-allauth==64.0.0
drf-spectacular==0.27.2
ruff==0.5.6
gunicorn==22.0.0
Pillow==10.2.0
psycopg2==2.9.9
python-decouple==3.8
pytz==2024.1
redis==5.0.8
sqlparse==0.5.1
uvicorn==0.30.5