asgiref==3.5.2
Django==4.1.2
django-cors-headers==3.13.0
djangorestframework==3.14.0
dj-rest-auth==2.2.5
django-allauth==0.51.0
gunicorn==20.1.0
Pillow==9.2.0
psycopg2==2.9.4
pytz==2022.5
sqlparse==0.4.3
uvicorn==0.18.3