{
    email {$EMAIL}
}

{$DOMAIN} {
    reverse_proxy app:8000

    handle_path /static/* {
        root * /vol/staticfiles
        file_server
    }

    handle_path /media/* {
        root * /vol/mediafiles
        file_server
    }

    encode gzip
    log {
        output file /var/log/caddy/access.log {
            roll_size 10MB
            roll_keep 5
            roll_keep_for 720h
        }
    }
}
